h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

h2 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.mb-3.required .form-label:after {
  content:"*";
  color:red;
}

/*, Turn carousel arrows a shade of grey */ {
.carousel-control-next,
.carousel-control-prev
    filter: invert(80%);
}

.nav-item {
margin-bottom: .2rem; }
.nav-item.active > .nav-link {
  color: #374151;
  background-color: #e6eaee; }
.nav-item .nav-link {
  color: #ffffff;
  cursor: pointer; }
  .nav-item .nav-link:hover {
    color: #F2F4F6;
    background-color: #e6eaee; }
.nav-link + .multi-level {
margin-top: .2rem; }
.nav-link {
font-size: 1rem;
vertical-align: middle;
padding: 0.55rem 0.75rem;
border-radius: 0.5rem; }
.nav-link .icon {
  margin-right: .5rem;
  color: #9CA3AF; }
.nav-link .link-arrow {
  font-size: 0.875rem; }
.nav-link[data-bs-toggle=collapse][aria-expanded=true] .link-arrow {
  transform: rotate(90deg);
  transition: all 0.2s ease; }
.nav-link.active {
color: #F2F4F6; }
.multi-level .nav-link {
padding-left: 53px; }

div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
